#grid {
    height: min(75vh, 75vw);
    width: min(75vw, 75vh);
    display: flex;
    flex-wrap: nowrap;
    border: lightblue solid;
    /* justify-content: stretch; */
    /* align-items: stretch; */
}

.gridPiece {
    height: 100%;
    transition: all 5.5s ease;
    /* background-color: purple; */
    /* border: black solid .1px; */

}
.gridC {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    /* background-color: purple; */
    /* border: black solid .1px; */

}


.playing {
    background-color: rebeccapurple;
}


* {
/* border: red dashed; */
}