body{
display: flex;
flex-direction: column;
align-items: center;
background-color: lightcyan;
}
.options {
    width: min(85vw, 85vh);
    display: flex;
    justify-content: left;
    flex-direction: row;
    
}

.options>* {
    margin: .5rem;
}
#grid {
    height: min(85vh, 85vw);
    width: min(85vw, 85vh);
    display: flex;
    flex-wrap: nowrap;
    border: lightblue solid;
    background-color: white;
    /* justify-content: stretch; */
    /* align-items: stretch; */
}

.gridPiece {
    height: 100%;
    transition: all .1s ease;
    /* background-color: purple; */
    /* border: black solid .1px; */

}
.gridC {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    /* background-color: purple; */
    /* border: black solid .1px; */

}


.playing {
    background-color: rebeccapurple;
}


* {
/* border: red dashed; */
}